<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Index of <%- pathname %></title><style>table{width:100%}@media(max-width:768px){td:nth-child(n+2){display:none}}</style></head><body><h1>Index of <%- pathname %></h1><hr><table><tbody><% if (pathname !== '/') { %><tr><td><a href="../" title="Parent Directory">../</a></td><td></td><td></td><td></td></tr><% } %><%
    files
      .forEach(function(file) {
        if (file.isDirectory()) {
        %><tr><td><a href="<%- file.url %>" title="<%- file.name%>"><%- file.name %>/</a></td><td></td><td></td><td></td></tr><%
        } else {
        %><tr><td><a href="<%- file.url %>" title="<%- file.name %>"><%- file.name %></a></td><td><%- file.type %></td><td><%- file.size %></td><td><%- file.mtime.toISOString() %></td></tr><%
        }
      })
    %></tbody></table><hr><address><%- pkg.name %>@<%- pkg.version %></address></body></html>